<h1>{{name1}}</h1>
<p>Welcome to {{title}}</p><br>
<p>Glad to learn {{workshop}} . The previous text "Express" is a string which is passed from index.js </p>
<hr><hr>
<h2>{{quotes}}</h2>
<h3>*Tommy Shellby</h3>
<img src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/18/40/1538673562-peaky1.jpg?crop=0.662xw:1.00xh;0.150xw,0&resize=480:*" alt="">
<img src="images/istockphoto-1322277517-612x612.jpg" alt="">



